.header {
  background-color: #f1f3f5;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1 {
  font-size: 8.6rem;
  color: #1f1f25;
}

.h2 {
  font-size: 6.2rem;
  color: #f9004d;
}

@media (max-width: 1100px) {
  .h1 {
    font-size: 6.2rem;
  }

  .h2 {
    font-size: 4.4rem;
  }
}

@media (max-width: 900px) {
  .h1 {
    font-size: 5.2rem;
  }

  .h2 {
    font-size: 3.6rem;
  }
}

@media (max-width: 600px) {
  .h1 {
    font-size: 3.6rem;
  }

  .h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 450px) {
  .h1 {
    font-size: 2.4rem;
  }

  .h2 {
    font-size: 2rem;
  }
}
