.footer {
  background-color: #1f1f25;
  height: 20vh;
  color: #f1f3f5;
  font-size: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a {
  color: #f1f3f5;
  text-decoration: none;
}

.ul {
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.li {
  cursor: pointer;
  transition: all 0.5s;
}

.li:hover {
  transform: translateY(-10px);
}

.tel {
  color: #f1f3f5;
  font-size: 2.1rem;
  text-decoration: none;
}

.p {
  padding: 0.8rem;
}

@media (max-width: 600px) {
  .footer {
    height: 25vh;
    flex-direction: column;
    gap: 1.6rem;
  }

  .div {
    margin-top: 2.6rem;
  }

  .ul {
    padding-bottom: 1.6rem;
  }

  .li {
    margin-right: 1.6rem;
  }
}
