.div {
  border-radius: 8px;
  overflow: hidden;
  background-color: #f1f3f5;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}

.div:hover {
  transform: translateY(-20px);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
}

.a {
  text-decoration: none;
}

.img {
  width: 100%;
}

.span {
  text-align: center;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  color: #1f1f25;
  padding: 1.2rem;
  display: block;
}

@media (max-width: 420px) {
  .div {
    margin: 0 1.2rem;
  }
}
